<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>けいじばん</title>
    <link rel="stylesheet" href="../assets/style.css">
  </head>
  <body>
    <div id="container">
      <div id="header">
        <h1>けいじばん</h1>
      </div>
      <div id="contents">
        <ul>
          <li>
            <div class="icon">
              <img src="../assets/icons/anonymous.gif">
            </div>
            <div class="name">なまえ</div>
            <div class="fukidashi">
              <div class="fukidashi_top"></div>
              <div class="value">あばばばば</div>
              <div class="fukidashi_bottom"></div>
            </div>
            <div class="time">12:22</div>
          </li>
          <li>
            <div class="icon">
              <img src="../assets/icons/anonymous.gif">
            </div>
            <div class="name">なまえ</div>
            <div class="fukidashi">
              <div class="fukidashi_top"></div>
              <div class="value">あばばばばばばばばばばばばばばばばばばばばばばばば</div>
              <div class="fukidashi_bottom"></div>
            </div>
            <div class="time">12:22</div>
          </li>
        </ul>
      </div>
      <div id="footer">
        <form action="./" method="post">
          <input type="hidden" name="icon">
          <input type="hidden" name="name">
          <button type="button" id="select_icon"></button>
          <input type="text" name="value" id="value_form">
          <input type="submit" value="送信">
        </form>
      </div>
    </div>
  </body>
</html>
